<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1><%= @about_page.title %></h1>
      <p><%= @about_page.paragraph1 %></p>
      <p><%= @about_page.paragraph2 %></p>
      <p><%= @about_page.paragraph3 %></p>
      <p><%= @about_page.paragraph4 %></p>
      <p><%= @about_page.paragraph5 %></p>
    </div>
  </div>
</div>
