<div class="container">
  <nav aria-label="breadcrumb" style="background: none; padding: 0;">
    <ol class="breadcrumb" style="background: none; margin-bottom: 0; padding: 0.5rem 0;">
      <li class="breadcrumb-item" style="display: inline;"><%= link_to 'Home', root_path %></li>
      <li style="display: inline;"> &gt; </li>
      <li class="breadcrumb-item" style="display: inline;"><%= link_to 'Products', products_path %></li>
    </ol>
  </nav>

  <h1 class="text-center">Products</h1>

  <%= form_tag(products_path, method: "get", class: "form-inline my-2 my-lg-0") do %>
    <%= text_field_tag(:keyword, params[:keyword], class: "form-control mr-sm-2", placeholder: "Search by keyword") %>
    <%= select_tag(:category_id, options_for_select(Category.all.map { |c| [c.category_name, c.id] }, params[:category_id]), { include_blank: true, class: "form-control mr-sm-2" }) %>
    <%= submit_tag("Search", class: "btn btn-outline-success my-2 my-sm-0") %>
  <% end %>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to product.product_name, product_path(product) %>
            </h5>
            <p class="card-text">Price: <%= number_to_currency(product.product_price) %></p>
            <%= button_to "Add to Cart", add_to_cart_path(product_id: product.id), method: :post, remote: true, class: "btn btn-primary", form_class: "form-inline", params: { redirect_path: view_cart_path } %>

          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <%= paginate @products %>
  </div>
</div>
