<h1><%= @product.product_name %></h1>
<p><strong>Description:</strong> <%= @product.product_description %></p>
<p><strong>Price:</strong> <%= number_to_currency(@product.product_price) %></p>
<p><strong>Quantity Available:</strong> <%= @product.quantity_available %></p>
<p><strong>Category:</strong> <%= @product.category.category_name %></p>
<%= link_to "Back to Products", products_path, class: "btn btn-primary" %>
